node_modules
dist
.dist
build
.wrangler
.mf
.miniflare
coverage
.env
.env.local
.env.*.local
.DS_Store
*.log
*.tsbuildinfo
.vscode
.idea
apps/extension/dist-zip
manifest.json
!apps/extension/manifest.json
